.card {
    width: 100%;
    background-color: rgb(138, 43, 226, .5);
    box-shadow: 5px 10px;

}

.card-title {
    font-weight: 700;
    font-size: x-large;
    color: black;
}

.card-side {
    background-image: url("../public/assets/images/rosemary.jpg");
}

.card > * {
    padding: 10px 5px;
}